@page {
margin:.25in;
padding:0;
}

@media print {
#h5pcontent {
width:50%;
height:auto;
margin:auto;
padding:0;
}

#main_container { left:-278px !important; }
#playbar { display:none !important; }
[id^="Button_"]{ display:none !important;}
}

