<html>

<head>
    <title>PDF Viewer Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./css/print.min.css">
	<link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../../css/templatemo-style.css">
    <link rel="stylesheet" href="../../css/bootstrap-print.css">
    <script src="../../h5p-standalone/js/print.min.js"></script>
</head>

<body>
    <h1>PDF Viewer Example</h1>
	<div>
	<iframe src = "https://venturazz.github.io/englishazcatalog/ViewerJS/#../filecontent/document/demodoc.pdf" width='389' height='550' allowfullscreen webkitallowfullscreen style="text-align:center;"></iframe>
	</div>
</body>
</html>
